<%= form_with(model: surgery, local: true) do |form| %>
  <% if surgery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(surgery.errors.count, "error") %> prohibited this surgery from being saved:</h2>

      <ul>
      <% surgery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :GP_name %>
    <%= form.text_field :GP_name, id: :surgery_GP_name %>
  </div>

  <div class="field">
    <%= form.label :GP_age %>
    <%= form.text_field :GP_age, id: :surgery_GP_age %>
  </div>

  <div class="field">
    <%= form.label :GP_gender %>
    <%= form.text_field :GP_gender, id: :surgery_GP_gender %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
