<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @appointment_slot.time %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment_slot.patient %>
</p>

<p>
  <strong>Symptom:</strong>
  <%= @appointment_slot.symptom %>
</p>

<p>
  <strong>Gp:</strong>
  <%= @appointment_slot.gp_id %>
</p>

<%= link_to 'Edit', edit_appointment_slot_path(@appointment_slot) %> |
<%= link_to 'Back', appointment_slots_path %>
